#Load the data

In [56]:
import pandas as pd
import numpy as np

data= "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data=pd.read_csv(data)

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [57]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [58]:
data.shape

(891, 12)

In [59]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#Method 1:- Drop columns with Too Many Missing Values

In [60]:

#Drop columns with more than 50% missing values

missing_threshold = 0.5*(len(data))
print("missing threshold ->",missing_threshold)

data=data.drop(columns=['Cabin'])
print(data.shape)

missing threshold -> 445.5
(891, 11)

# Method 2:- Fill Numeric Missing Values with Mean

In [61]:
from sklearn.impute import SimpleImputer

#Mean imputation for "Age"

mean_imputer = SimpleImputer(strategy="mean")

data['Age']=mean_imputer.fit_transform(data[['Age']])

data['Age'].isnull().sum()

np.int64(0)

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

#Method 3:- Fill Categorical Missing Values with Mode

In [63]:
from sklearn.impute import SimpleImputer

# Fill "Embarked" missing values with most frequent value

mode_impute=SimpleImputer(strategy="most_frequent")

data['Embarked']=mode_impute.fit_transform(data[['Embarked']]).ravel()


data['Embarked'].isnull().sum()

np.int64(0)

#Method 4:- KNN Imputation for "Age"

In [64]:
data= "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data=pd.read_csv(data)

In [65]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [66]:
from sklearn.impute import KNNImputer

#Numerical Columns

num_cols=['Age','Fare','Pclass']


KNN_imputer=KNNImputer(n_neighbors=5)

data[num_cols]=KNN_imputer.fit_transform(data[num_cols])

data[num_cols].isnull().sum()

Age       0
Fare      0
Pclass    0
dtype: int64

#Method 5:- Regression Imputation for "Age"

In [67]:
data= "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data=pd.read_csv(data)

In [68]:
print(data.info())

print(" ")
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [69]:
from sklearn.linear_model import LinearRegression

#Train Model data
data_train= data[data['Age'].notnull()]

# Rows we want to fill
data_missing= data[data['Age'].isnull()]

# Fit the model

model=LinearRegression()

model.fit(data_train[['Fare','Pclass']],data_train['Age'])

# Input Variable:- Fare , Pclass
# Output Variable:- Age


#Predict Missing Values

data.loc[data_missing.index,'Age']= model.predict(data_missing[['Fare','Pclass']])

print(data['Age'].isnull().sum())

0